---
title: 'About'
description: "Meet Jan, our skilled therapist bringing authentic Thai massage techniques to Beeston. Learn about our commitment to holistic wellness and personalised care."
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about/" class="cs-link cs-active">About</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.jpg">
        <img decoding="async" src="/assets/images/banners/banner3.webp" alt="massage oils" width="1280" height="568" aria-hidden="true">
    </picture>
    <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="var(--maskBG)"/>
    </svg>
</div>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/about/bamboo-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/about/bamboo.webp">
            <img loading="lazy" decoding="async" src="/assets/images/about/bamboo.jpg" alt="Jan owner" width="630" height="775">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">About Bamboo Thai Massage</h2>
            <p class="cs-text">
                Jan, the founder and principal therapist of Bamboo Thai Massage, hails from Udonthani in Thailand. From an early age, Jan was fascinated by the healing traditions of her homeland, particularly the art of Thai massage. This passion for healing through touch has been the driving force behind her career and led her to establish Bamboo Thai Massage in Beeston, Nottingham.
            </p>
            <p class="cs-text">
                Jan's journey to opening her own massage practice in the UK was fuelled by a desire to share the benefits of authentic Thai massage techniques with a wider audience. She recognised the potential to help people find relief from pain, reduce stress, and improve their overall well-being through skilled therapeutic touch.
            </p>
            <p class="cs-text">
                To turn her passion into expertise, Jan has invested significantly in her education and training. She has completed several massage therapy qualifications, including Thai Massage and Swedish Massage, equipping her with a diverse range of techniques. Jan's commitment to learning is ongoing, as she continually seeks to expand her knowledge and skills to better serve her clients.
            </p>
            <p class="cs-text">
                At Bamboo Thai Massage, we believe in the holistic approach to wellness that is central to Thai healing traditions. Our treatments are designed to address not just physical ailments, but also to promote mental and emotional balance. Whether you're seeking relief from chronic pain, looking to improve flexibility, or simply in need of relaxation, we tailor our services to meet your unique needs.
            </p>
            <p class="cs-text">
                As Jan continues to grow her skills and her business, she remains committed to her original vision: helping people achieve better health and discover their best selves through the power of massage. We invite you to experience the difference that skilled, caring massage therapy can make in your life.
            </p>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Image 1 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal1.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/gallery/gal1.jpg" alt="waiting room" width="346" height="346">
                </picture>
            </li>
            <!-- Image 2 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/gallery/gal2.jpg" alt="therapist" width="346" height="346">
                </picture>
            </li>
            <!-- Image 3 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal3.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal3.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/gallery/gal3.jpg" alt="shop front" width="346" height="346">
                </picture>
            </li>
            <!-- Image 4 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/gallery/gal4.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/gallery/gal4.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/gallery/gal4.jpg" alt="massage bed" width="346" height="346">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}