---
title: 'Massages'
description: "Explore our range of massage therapies, from traditional Thai to Deep Tissue. Find the perfect treatment for relaxation, pain relief, or improved flexibility."
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/waxing.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1519">
    <div class="cs-container">
        <span class="cs-int-title">Massages</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/massages/" class="cs-link cs-active">Massages</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.jpg">
        <img decoding="async" src="/assets/images/banners/banner3.webp" alt="massage oils" width="1280" height="568" aria-hidden="true">
    </picture>
    <svg class="cs-mask" xmlns="http://www.w3.org/2000/svg" width="1920" height="136" viewBox="0 0 1920 136" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="var(--maskBG)"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massages</span>
            <h2 class="cs-title">Discover our Signature Massage Treatments</h2>
            <p class="cs-text">
                Our skilled therapist is committed to helping you relax, rejuvenate, and find relief from stress and tension. Whether you seek targeted relief or a pampering experience, we have the perfect massage for you.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/sports-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/sports.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/sports.jpg" alt="sports massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Deep Tissue massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Minutes £35</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Minutes £55</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £85</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This intensive technique targets chronic muscle tension and knots. Using slow strokes and firm pressure, it focuses on the deepest layers of muscle tissue. It's particularly effective for relieving severe tension, chronic pain, and limited mobility, helping to break down adhesions and restore natural movement.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/thai-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/thai.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/thai.jpg" alt="thai massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Thai Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Minutes £30</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Minutes £50</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This ancient technique combines acupressure, Indian Ayurvedic principles, and assisted yoga postures. Thai Massage doesn't use oils, instead, the therapist uses hands, knees, legs, and feet to move you into yoga-like stretches, improving flexibility, reducing tension, and enhancing energy flow.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/aromatherapy-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/aromatherapy.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/aromatherapy.jpg" alt="aromatherapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Aromatherapy Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Minutes £30</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Minutes £45</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This soothing treatment combines gentle massage techniques with essential oils tailored to your needs. It's excellent for stress relief and emotional balance. The carefully selected oils are absorbed through the skin and inhaled, promoting relaxation, boosting mood, and enhancing overall well-being.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/swedish-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/swedish.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/swedish.jpg" alt="swedish massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Swedish Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Minutes £30</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Minutes £45</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £75</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This classic massage uses long, flowing strokes, kneading, and circular movements on superficial layers of muscle. It's excellent for relaxation, stress relief, and improving circulation. Swedish massage can help ease muscle tension, improve flexibility, and create a sense of overall well-being.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/foot-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/foot.jpg" alt="foot massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Foot Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Minutes £30</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This specialised treatment involves systematic pressure application to specific points on the feet and lower legs. It's excellent for foot aches and general well-being. Based on the principle that foot points correspond to body organs, this massage aims to release blockages and promote overall health.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/services/head-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/services/head.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/head.jpg" alt="head massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Head Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Minutes £30</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This rejuvenating treatment focuses on the head, neck, and shoulders. It's ideal for relieving tension headaches and promoting relaxation. Using various pressure and movement techniques, it improves circulation to the head, reduces stress, and can even help improve hair and scalp condition.
                    </p>
                </a>
            </li>
        </ul>
        <a class="cs-button-solid" href="{{client.onlineBooking}}" target="_blank" rel="noopener">Schedule Now</a>
    </div>
</section>               

    {% include 'components/cta.html' %}

{% endblock %}