/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1313 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 10;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            max-width: (522/16rem);
        }

        .cs-ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 20px - 40px */
            gap: clamp(1.25rem, 3vw, 2.5rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (16/16rem);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-li-text {
            /* 14px 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-flex {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* changes to 20px at desktop */
            gap: (32/16rem);
        }

        .cs-image-group {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-picture {
            width: 100%;
            height: 100vw;
            max-height: (400/16rem);
            display: block;
            position: relative;
            

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 1em;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1313 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: (20/16rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-flex-group {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-ul {
            flex-direction: row;
        }

        .cs-image-group {
            flex-wrap: nowrap;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-1313 {
        .cs-flex {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-ul {
            max-width: (325/16rem);
            flex-direction: column;
            align-self: flex-end;
        }

        .cs-image-group {
            max-width: (846/16rem);
            align-items: stretch;
        }

        .cs-picture {
            min-height: (400/16rem);
            height: 100%;
            max-height: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-1313 {
            .cs-title,
            .cs-text, .cs-li-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-h3 {
                color: var(--secondary);
            }

            .cs-text, .cs-li-text {
                opacity: 0.8;
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-r-870 {
        padding: var(--sectionPadding);
        background-color: #F5F7F6;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 17 characters wide including spaces */
            max-width: 17ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            max-width: (630/16rem);
            /* 400px - 775px */
            height: clamp(25rem, 70vw, 48.4375rem);
            /* 100px - 200px */
            border-radius: 2em;
            /* clips img tag corners */
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-r-870 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            max-width: (1280/16rem);
            justify-content: space-between;
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
            /* sends it to the left in the 1st position */
            order: -1;
        }

        .cs-picture {
            width: 47vw;
            position: relative;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-r-870 {
            background-color: var(--darker);
            .cs-topper {
                color: var(--secondary);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-picture {
                &:before {
                    background-color: var(--accent);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-877 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at Tablet */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* max width of 22 characters, includes spaces between words */
            max-width: 39ch;
        }

        .cs-text {
            max-width: (1064/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            border-radius: (16/16rem);
            background-color: #fff;
            overflow: hidden;
            grid-column: span 3;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }

            &:before {
                /* border, done in pseudo so it can sit under the picture */
                content: "";
                width: 100%;
                height: 100%;
                border-radius: (16/16rem);
                border: 1px solid #e8e8e8;
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                background: transparent;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-link {
            text-decoration: none;
            padding: 0 0 (20/16rem) 0;
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (200/16rem);
            margin-bottom: (20/16rem);
            background-color: var(--primary);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            padding: 0 (20/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-877 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-item {
            grid-column: span 1;
            max-width: (462/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-877 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
                &:before {
                    opacity: 0.3;
                }
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-867 {
        padding: var(--sectionPadding);
        background-color: #F5F7F6;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 17 characters wide including spaces */
            max-width: 17ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            max-width: (630/16rem);
            /* 400px - 775px */
            height: clamp(25rem, 70vw, 48.4375rem);
            border-radius: 2em;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
    #sbs-867 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            max-width: (1280/16rem);
            justify-content: space-between;
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            width: 47vw;
            position: relative;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-867 {
            background-color: var(--darker);
            .cs-topper {
                color: var(--secondary);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-picture {
                &:before {
                    background-color: var(--accent);
                }
            }
        }
    }
}

                                
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-1505 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        background-color: #fff;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 48px */
            gap: clamp(2rem, 6vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 32px - 48px */
            margin: 0 0 clamp(2rem, 5vw, 3rem);
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: grid;
            /* changed at desktop */
            grid-template-columns: repeat( auto-fit, minmax(17rem, 1fr) );
            /* 16px - 20px */
            gap: clamp(1rem, 1.7vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            margin: 0;
            padding: (32/16rem);
            background-color: #fff;
            border: 1px solid #E8E8E8;
            border-radius: (32/16rem);
        }

        .cs-number {
            font-size: (49/16rem);
            line-height: 1.2em;
            font-weight: 900;
            color: var(--primary);
            /* 8px - 72px */
            margin: 0 0 clamp(.5rem, 6vw, 4.5rem);
            display: block;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            margin: 0;
        }

        .cs-image-group {
            position: relative;
            overflow: hidden;
            border-radius: (20/16rem);
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            /* 240px - 376px */
            height: clamp(15rem, 46vw, 23.5rem);
            display: block;
            position: relative;
            border-radius: 50px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-faq-group {
            width: 100%;
            max-width: (650/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #fff;
            border: 1px solid #E8E8E8;
            /* 24px - 32px */
            border-radius: clamp(1rem, 2.4vw, 2rem);
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            transition: border-color .3s;

            &.active {
                border-color: var(--primary);
                .cs-button {
                    color: var(--primary);
                    .cs-indicator {
                        &:before {
                            transform: translate(-50%, -50%) rotate(360deg);
                        }

                        &:after {
                            transform: translate(-50%, -50%) rotate(0deg);
                        }
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            background-color: #fff;
            border: none;
            color: var(--headerColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            transform-style: preserve-3d;
            perspective: 700px;
            transition: background-color .3s, color .3s;

            &:hover {
                cursor: pointer;
            }

            .cs-indicator {
                /* 40px - 48px */
                width: clamp(2.5rem, 4vw, 3rem);
                height: clamp(2.5rem, 4vw, 3rem);
                background-color: #fff;
                border: 1px solid #BABABA;
                border-radius: 50%;
                position: relative;
                z-index: 1;

                &:before {
                    /* left line */
                    content: '';
                    width: (16/16rem);
                    height: (2/16rem);
                    background-color: #767676;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: transform .5s;
                }
    
                &:after {
                    /* right line */
                    content: '';
                    width: (16/16rem);
                    height: (2/16rem);
                    background-color: #767676;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                    transition: transform .5s;
                }
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition: opacity .3s, padding-bottom .3s;
        }

        .cs-top {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }

        .cs-bottom {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-1505 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            max-height: (616/16rem);
            width: 40%;
            text-align: left;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-card-group {
            /* pushes up against the other flex items so it pushes to the bottom of the flexbox */
            margin-top: auto;
            grid-template-columns: 1fr 1fr;
        }

        .cs-item {
            grid-column: span 1;
        }
    }
}

/* Larger Desktop - 1600px */
@media only screen and (min-width: 100rem) {
    #faq-1505 {
        .cs-floater {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-1505 {
            background-color: var(--dark);
            
            .cs-title, .cs-item-p {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: rgba(0, 0, 0, .2);
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-number {
                color: var(--secondary);
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-item-text {
                color: var(--bodyTextColorWhite);
                opacity: .8;
            }

            .cs-faq-item {
                background-color: rgba(255, 255, 255, .1);
                border-color: rgba(255, 255, 255, .2);
                &.active {
                    .cs-button {
                        &:before, &:after {
                            background-color: var(--bodyTextColorWhite);
                        }
                    }
                }
            }

            .cs-button {
                background-color: transparent;
                color: var(--bodyTextColorWhite);
                &:before, &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .cs-indicator {
                background-color: rgba(0, 0, 0, .2);
                border-color: rgba(255, 255, 255, .2);
                &:before, &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .cs-top, .cs-bottom {
                path {
                    fill: var(--dark);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-354 {
        padding: var(--sectionPadding);
        padding-top: 0;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (630/16rem);
            /* 24px - 32px top & bottom */
            /* 16px - 40px left & right */
            padding: clamp(1.5rem, 3.15vw, 2rem) clamp(1rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
        }

        .cs-quote {
            width: (40/16rem);
            height: auto;
            margin-bottom: (32/16rem);
            display: block;
        }

        .cs-review {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 2vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            /* 20px - 40px */
            margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
            color: var(--bodyTextColor);
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-354 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-354 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--accent);
            }

            .cs-review,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-topper {
                color: var(--secondary);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.7;
            }
        }
    }
}



                                       
                                




                                

                                

                                

                                

                                
